[submodule "vendor/imgui-filebrowser"]
	path = vendor/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "vendor/FLHookSDK"]
	path = vendor/FLHookSDK
	url = https://github.com/TheStarport/FLHookSDK
[submodule "vendor/reflect-cpp"]
	path = vendor/reflect-cpp
	url = https://github.com/getml/reflect-cpp
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/imgui-markdown"]
	path = vendor/imgui-markdown
	url = https://github.com/enkisoftware/imgui_markdown.git
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/santaclose/ImGuiColorTextEdit.git
